*~
*.png
*.txt
*a.out
*sod
*sine
*sedov
*OpenBLAS/
*output
*.json
*backup*
copy_positions.sh
rd/triangulation/cgal/2d/CMakeFiles*
rd/triangulation/cgal/3d/CMakeFiles*
rd/CMakeFiles*
rd/build*
.DS_Store